html {
  scroll-behavior: smooth;
}

.nav-item {
  font-size: larger;
}

/* .nav-item a:hover {
  background-color: powderblue;
  color: black;
  border-radius: 10px;
}

*/

.navbar_spark, .navbar {
  font-family: 'MontserratBold', sans-serif;
  font-size: 1.15em;
  background: transparent;
  top: 0;
  background-color: #188ba8;
  color: #e1f0f7;
}

.nav_name {
  float: right;
  font-size: larger;
  margin: auto auto auto 0;
  padding-left: 10px;
  /* padding-top: 22px; */
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.footer_spark {
  /*position: fixed;*/
  font-family: MontserratsemiBold;
  line-height: 1.75;
  font-size: 1.15em;
  /* padding-top: 20px; */
  left: 0;
  bottom: 0;
  background-color: #188ba8;
  color: white;
  width: 100%;
  /* padding-bottom: 20px; */
}

/* .navbar_spark {
    background-color: darkgoldenrod;
  }*/

/*type.js*/

/* h2 {
                  margin-top: auto;
                  padding-top: 300px;
                  text-align: center;
                  font-size: larger;
                  }
                  .check h2 .type {
                  color: red;
                  } 
  */